@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@500&display=swap');

@font-face {
    font-family: 'Barlow';
    src: url('res/Barlow-Regular.woff2') format('woff2'),
        url('res/Barlow-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Oswald';
    src: url('res/Oswald-Medium.woff2') format('woff2'),
        url('res/Oswald-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

:root {
    --primary: rgba(0, 0, 0);
    --secondary: rgba(79, 79, 79);
    --accent: #b62d60;

    --spacing-1: 4px;
    --spacing-2: 8px;
    --spacing-3: 16px;
    --spacing-4: 24px;
    --spacing-5: 32px;
    --spacing-6: 64px;
}

/* General */

body {
    margin: 0;
    position: relative;
    padding: var(--spacing-5);
    font-family: 'Barlow', sans-serif;
    font-size: 19px;
    line-height: 160%;
    color: var(--primary);
}

h1 { 
    text-transform: uppercase;
    font-family: 'Oswald', sans-serif;
    font-size: 36px;
    margin: 0;
    margin-bottom: var(--spacing-3);
    line-height: 100%;

}

a {
    color: var(--accent);
    text-decoration: none;
    font-weight: 500;
}

/* Utilities */

.text-center {
    text-align: center;
}

.text-right {
    text-align: right;
}

.text-justify {
    text-align: justify;
}

.mt-0 {
    margin-top: 0;
}

.mb-0 {
    margin-bottom: 0;
}

/* Page construction */

.top {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    z-index: -1;
    opacity: 0.15;
}

.top>img {
    width: 100%;
}

.top::after {
    content: "";
    display: block;
    position: absolute;
    z-index: 0;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(to bottom, rgba(0,0,0,0), rgba(255,255,255,1) 200px);
}   

/** 
* Page 
*/
article {
    margin: auto;
    max-width: 900px;
}

/**
* Header
*/
header img {
    display: block;
    margin-top: var(--spacing-2);
    margin-left: auto;
    margin-right: auto;
    width: 100px;
}

/** 
* Intro outro
*/
.two-parapgraphs {
    display: flex;
    align-items: center;
    gap: var(--spacing-3);
    margin-top: calc(var(--spacing-6) * 1.5);
    margin-bottom: calc(var(--spacing-6) * 1.5);
}

@media screen and (max-width: 650px) {
    .two-parapgraphs {
        flex-wrap: wrap;
        gap: var(--spacing-5);
    }

    .two-parapgraphs.two-parapgraphs--reverse {
        flex-wrap: wrap-reverse;
    }

    .two-parapgraphs>div {
        width: 100%;
    }
}

.two-parapgraphs img {
    display: block;
    width: 200px;
    margin: auto;
}

.two-parapgraphs form {
    padding-left: var(--spacing-3);
}

.two-parapgraphs img.two-parapgraphs__s-image {
    width: 150px;
}


/**
* Stains 
*/

section .stains {
    display: flex;
    gap: var(--spacing-6);
}

section .stains > div {
    display: flex;
    flex-direction: column;
}

section .stains > div > div {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
}

section .stains > div > div p {
    flex-grow: 1;
}

@media screen and (max-width: 650px) {
    section .stains {
        flex-wrap: wrap;
        gap: var(--spacing-6);
        justify-content: center;
    }
}

section .stains>div>img {
    display: block;
    width: 100%;
    max-width: 150px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: var(--spacing-4);
}

/**
* Footer
*/
footer {
    margin-top: calc(var(--spacing-6) * 3);
    text-align: center;
    opacity: 0.7;
}

footer>div {
    display: inline-block;
    margin: var(--spacing-2);
}

/**
* Bottom 
*/

.bottom {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    z-index: -1;
    opacity: 0.15;
}

.bottom>img {
    width: 100%;
}

.bottom::after {
    content: "";
    display: block;
    position: absolute;
    z-index: 0;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(to top, rgba(0,0,0,0), rgba(255,255,255,1) 200px);
}   